/*** ABOUT US SECTION ***/

.about-section{
    background-color: $color--primary-1;
    padding: 7rem 10%;

    @include mq(medium){
        padding: 4rem 20%;
    }
    
    @include mq(small){
        padding: 3rem 10%;
    }

    .container{
        @include mq(medium){
            flex-direction: column-reverse;
            gap: 0;
            height: 100%;
        }
        
        .row{
            @include mq(medium){
                flex-direction: column-reverse !important;
            }

            .col-sm-12{
                @include mq(medium){
                    width: 100% !important;
                }

                h2{
                    margin-bottom: 3%;
                    font-weight: 700;
                }

                p{
                    margin-bottom: 5%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .main-btn{
                    @include mq(large){
                        font-size: .75rem
                    }
                }
            }

            .col{
                .about-section__image{
                    @include wh-100;

                    img{
                        @include wh-100;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}