/*** VARIABLES ***/

/* Colours */
$color--white-1: #fff;
$color--white-2: #f4f4f4;
$color--dark: #000;
$color--dark-1: #121212;
$color--dark-grey-1: #222;
$color--dark-grey-2: #252525;
$color--dark-grey-3: #2e2e2e;
$color--dark-grey-4: #474747;
$color--light-grey-1: #5c5c5c;
$color--light-grey-2: #d1d1d1;
$color--primary-1: #00acee;
$color--primary-2: #028dc4;
$color--spotify-1: #1ed760;
$color--spotify-2: #17af4c;
$color--spotify-3: #131416;
$color--secundary-1: #C82606;
$color--secundary-2: #a12007;